<p id="notice"><%= notice %></p>

<h1>MyBlends#index</h1>

<%= link_to '新規登録', new_my_blend_path %>

<%= render "layouts/index", beans: @blends %>
<p>Find me in app/views/my_blends/index.html.erb</p>
