<h1>Beans#show</h1>
<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="bean-text">
    <p><strong>タイトル</strong>：<%= @bean.name %></p>
    <p><strong>画像</strong>：<%= image_tag @bean.icon.url %></p>
    <p><strong>内容</strong>：<%= @bean.description %></p>
  </div>
</div>
