// Place all the styles related to the Users controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.introduction {
  font-family: serif;
}

.centered {
  display: block;
  margin: auto;
}

.user-info {
  margin-bottom: 100px;
  border: solid 10px;
  border-color: #646769;
  border-radius: 60px;
  padding: 30px;
}

.fav-index {
  margin-bottom: 80px;
  background-color: beige;
  border-radius: 30px;
  border: solid 3px;
  padding: 0 20px;
}

.posts {
  margin-bottom: 80px;
}

.field {
  margin-bottom: 30px;
}

.new_user {
  width: 400px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.devise_links {
  text-align: center;
}