<div class="page-header">
  <h1>かんざし</h1>
  <% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <%= link_to('一覧画面', beans_path) %>
    <%= link_to('マイページ', user_path(current_user)) %>
  <% else %>
    <%= link_to('Login', new_user_session_path) %>
  <% end %>
</div>