<h1>こんにちは!</h1>
<p class="introduction">このサイトでは、自分が購入した珈琲豆の味やその他の情報を記録する事できます。
  <br>また、好きな珈琲豆を組み合わせて自分だけのオリジナルブレンドを作るのにも役立ちます。</br>
  他のユーザーがお気に入りしている珈琲豆の情報を見れるので、今まで飲んだことのない珈琲にチャレンジできます。
</p>
<h5>使い方</h5>
<ol>
  <li>まずはストレートコーヒーを登録しましょう。</li>
  <li>登録したストレートコーヒーを組み合わせてオリジナルのブレンドコーヒーを作りましょう</li>
  <li>他のユーザーが飲んでいるストレートコーヒー、ブレンドコーヒーは一覧で確認できます</li>
  <li>気になるコーヒーがあったらお気に入りしましょう。お気に入りの一覧はマイページで確認できます</li>
</ol>